.Modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
  width: 100%;
  height: 100%;
}

.AddStockForm {
  position: absolute;
  background: #fff;
  height: 400px;
  width: 70vw;
  top: 25vh;
  left: 15vw;
  right: 15vw;

  z-index: 200;
  border: 1px solid #2196f3;
  border-radius: 20px;
  box-shadow: 3px 5px 7px 0px black;
}

.AddStockForm h2 span {
  color: red;
}

.AddStockForm div {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 40px;
}

.AddButton {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #2196f3;
  cursor: pointer;
  background: #03a9f4;
  color: #fff;
  font-weight: 600;
  font-family: Comfortaa, roboto, sans-serif;
}

#xcancel {
  right: 17%;
  z-index: 300;
  position: absolute;
  top: 30%;
  background: #fff;
  cursor: pointer;
}

#xcancel img {
  width: 25px;
  height: auto;
}

div h4 span {
  color: red;
}
div span {
  color: #03a9f4;
  font-weight: 600;
}

#warning {
    color: red;
}